extends layout

block layout-content
	h1 #{json.name}
	h3 #{json.birth_year} , #{json.gender}
	p Height: #{json.height}cm 
	p Weight: #{json.mass}kg
	p Hair Colour: #{json.hair_color}
	p Skin Colour: #{json.skin_color}
	p Eye Colour: #{json.eye_color}
