extends layout
block variables
	json
	characterData
	planetData
	vehicleData

block layout-content
	h1 #{json.title}
	h3 #{json.release_date}
	p #{json.opening_crawl}
	h3 Characters
	each character in characterData
		if character
			a(href='/characters/' + character.id) #{character.name}
			br
	h3 Planets
	each planet in planetData
		if planet
			a(href='/planets/' + planet.id) #{planet.name}
			br
	h3 Vehicles
	each vehicle in vehicleData
		if vehicle
			a(href='/vehicles/' + vehicle.id) #{vehicle.name}
			br