extends layout

block layout-content
	h1.Banner Star Wars Info

	form.search(action='/search/', method="get")
		input.searchTerm(placeholder="Enter your search term ...", type="text", id="title", name="title")
		input.searchButton(type="submit")

	each result in json.results
		a(href='/films/' + result.id) #{result.title}
		br