block variables
	json 

doctype html
html
	head
		meta(charset="utf-8")
		link(rel="shortcut icon", href="/favicon.ico")
		link(rel="stylesheet" href="/css/style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="theme-color", content="#000000")
		block scripts
		title STAR WARS INFO
	body
		div#root
		block layout-content
	footer
		a(href='/') Back To Main Page