extends layout

block layout-content
	h1 #{json.name}
	
	p Rotation Period: #{json.rotation_period}
	p Orbital Period: #{json.orbital_period}
	p Diameter: #{json.diameter}
	p Climate: #{json.climate}
	p Gravity: #{json.gravity}
	p Terrain: #{json.terrain}
	if json.surface_water === '1'
		p Has Surface Water
	else 
		p No Surface Water :( 
	p Population: #{json.population}