extends layout

block layout-content
	h1 #{json.name}
	p Model: #{json.model}
	p Manufacturer: #{json.manufacturer}
	p Cost In Credits: #{json.cost_in_credits}
	p Length: #{json.length}m
	p Max Atmosphering Speed: #{json.max_atmosphering_speed}
	p Crew:	#{json.crew}
	p Passengers: #{json.passengers}
	p Cargo Capacity: #{json.cargo_capacity}kg
	p Consumables: #{json.consumables}
	p Vehicle Class: #{json.vehicle_class}
